In [46]:
# import dependencies
import pandas as pd
import numpy as np

In [5]:
# import and read csv file
df = pd.read_csv('VineAnalysisData.csv', index_col=0)
df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R1KKOXHNI8MSXU          4.0            0.0          0.0    N                 Y
R26SP2OPDK4HT7          5.0            1.0          2.0    N                 Y
RWQEDYAX373I1           5.0            0.0          0.0    N                 Y
R231YI7R4GPF6J          5.0            0.0          0.0    N                 Y
R3KO3W45DD0L1K          5.0            0.0          0.0    N                 Y
...                     ...            ...          ...  ...               ...
R3638LBLGKMM2S          5.0            0.0          0.0    N                 Y
RP5AEIYZM5BUW           5.0           12.0         15.0    N                 Y
R3PB8K42BMNI40          3.0            0.0          0.0    N                 Y
R2PK1N9NG1JM4C          5.0            0.0          0.0    N                 Y
R2ORDL3TCNYNHC          4.0            0.0          0.0    N                 Y

[5906333 rows x 5 columns]

In [6]:
# filter dataframe to show >= 20 votes
filter_df = df[df['total_votes'] >= 20]
filter_df

                star_rating  helpful_votes  total_votes vine verified_purchase
review_id
R35PT06NWP7LDP          5.0           30.0         32.0    N                 N
R2P76PJFUGXBHO          1.0            6.0         45.0    N                 N
RQW4AFOG9MR4Z           5.0           51.0         52.0    N                 N
R2SMUEBMGLAJQK          5.0           29.0         36.0    N                 Y
R1XVIZZALU5P6J          5.0          148.0        150.0    N                 Y
...                     ...            ...          ...  ...               ...
R1252ZFK9VRVQE          1.0           12.0         27.0    N                 Y
R1N9TEUZSMQLPO          1.0           20.0         27.0    N                 N
R1K803RRJDEZS           5.0           46.0         66.0    N                 N
R5XXKPQ9XI1TX           2.0           21.0         26.0    N                 N
R2S1G9Q2KERBZ9          2.0           45.0         63.0    N                 N

[46909 rows x 5 columns]

In [12]:
# calculate variable for helpful votes as a percent of all votes
filter_df['%_helpful'] = filter_df.helpful_votes / filter_df.total_votes

#filter table to only show rows with % positive greater than 50%
helpful_df = filter_df[filter_df['%_helpful'] >= .50]

C:\Users\NathanE\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,star_rating,helpful_votes,total_votes,vine,verified_purchase,%_helpful
review_id,,,,,,
R35PT06NWP7LDP,5.0,30.0,32.0,N,N,0.937500
RQW4AFOG9MR4Z,5.0,51.0,52.0,N,N,0.980769
R2SMUEBMGLAJQK,5.0,29.0,36.0,N,Y,0.805556
R1XVIZZALU5P6J,5.0,148.0,150.0,N,Y,0.986667
R11UFMG8M2488I,4.0,23.0,26.0,N,N,0.884615
...,...,...,...,...,...,...
R1A4PPQ8JLNQ0P,5.0,31.0,35.0,N,N,0.885714
R1N9TEUZSMQLPO,1.0,20.0,27.0,N,N,0.740741
R1K803RRJDEZS,5.0,46.0,66.0,N,N,0.696970
R5XXKPQ9XI1TX,2.0,21.0,26.0,N,N,0.807692
R2S1G9Q2KERBZ9,2.0,45.0,63.0,N,N,0.714286

In [22]:
# check filter
helpful_df['%_helpful'].min()

0.5

In [20]:
# filter step2 df to only show rows with a Y value for a Vine review
helpful_df_filtered_y = helpful_df[helpful_df['vine'] == 'Y']

In [21]:
# filter dataframe for vine = N
helpful_df_filtered_n = helpful_df[helpful_df['vine'] == 'N']

In [85]:
# calculate number of reviews, number of 5 star reviews, percent of 5 star reviews for vine = y
total_count_y = len(helpful_df_filtered_y.index)
five_count_y_df =  helpful_df_filtered_y[helpful_df_filtered_y['star_rating'] == 5.0]
five_count_y  =len(five_count_y_df)
five_star_percent = five_count_y / total_count_y
print('Summary Data: Vine review')
print('--------------------------')
print(f'five star count: {five_count_y}')
print(f'total count: {total_count_y}')
print(f'five star percent: {five_star_percent:.1%}')
print('--------------------------')

Summary Data: Vine review
--------------------------
five star count: 15
total count: 33
five star percent: 45.5%
--------------------------

In [86]:
# calculate number of reviews, number of 5 star reviews, percent of 5 star reviews for vine = n
total_count_n = len(helpful_df_filtered_n.index)
five_count_n_df =  helpful_df_filtered_n[helpful_df_filtered_n['star_rating'] == 5.0]
five_count_n  =len(five_count_n_df)
five_star_percent = five_count_n / total_count_n
print('Summary Data: No Vine review')
print('--------------------------')
print(f'five star count: {five_count_n}')
print(f'total count: {total_count_n}')
print(f'five star percent: {five_star_percent:.1%}')
print('--------------------------')

Summary Data: No Vine review
--------------------------
five star count: 23733
total count: 45388
five star percent: 52.3%
--------------------------